<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=AP_Project;trustServerCertificate=true;</property>
        <property name="hibernate.connection.username">Behrad</property>
        <property name="hibernate.connection.password">1385</property>

        <!-- SQL dialect and logging -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapping entity classes -->
        <mapping class="entity.User"/>
        <mapping class="entity.Customer"/>
        <mapping class="entity.Seller"/>
        <mapping class="entity.Admin"/>
        <mapping class="entity.Delivery"/>
        <mapping class="entity.BankInfo"/>


    </session-factory>
</hibernate-configuration>
