<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/AP_Project?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Amir.138556</property>

        <!-- Hibernate dialect for MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Other settings -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Mapping entity classes -->
        <mapping class="entity.Admin"/>
        <mapping class="entity.CartItem"/>
        <mapping class="entity.Comment"/>
        <mapping class="entity.Customer"/>
        <mapping class="entity.Delivery"/>
        <mapping class="entity.Coupon"/>
        <mapping class="entity.Item"/>
        <mapping class="entity.Order"/>
        <mapping class="entity.Restaurant"/>
        <mapping class="entity.Seller"/>
        <mapping class="entity.Transaction"/>
        <mapping class="entity.User"/>
        <mapping class="entity.Menu"/>
        <mapping class="entity.OrderRating"/>




    </session-factory>
</hibernate-configuration>


<!-- Database connection settings -->
<!-- <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- <property name="hibernate.connection.url">jdbc:sqlserver://127.0.0.1:1433;databaseName=AP_Project;trustServerCertificate=true;</property> -->
<!-- <property name="hibernate.connection.username">Amirmahdi</property> -->
<!-- <property name="hibernate.connection.password">138556</property> -->

<!-- SQL dialect and logging
<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
<property name="hibernate.show_sql">true</property>
<property name="hibernate.format_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property> -->
